$header-font: 'Myriad Pro Bold', Times, serif;
$title-font: 'Trajan Color Concept', Times, serif;
$text-font: 'Andale Mono Regular', Times, serif;

$home-portfolio-color: #fefefe;
$about-conatct-color: #000000;


$desktop-header-font-size: 24px;
$desktop-title-font-size: 42px;
$desktop-font-size: 24px;

$tablet-header-font-size: 26px;
$tablet-title-font-size: 42px;
$tablet-font-size: 20px;

$phone-header-font-size: 22px;
$phone-title-font-size: 18px;
$phone-font-size: 16px;

$text-weight: 600;