#portfolio{
    color: $home-portfolio-color;
    font-weight: $text-weight;
    .portfolioinfo{
        background-image: url("../images/phone_portfolio_bckgrd.png");
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            text-align: center;
            padding-top: 30px;
        }
        p{
            width: 90%;
            text-align: center;
            display: block;
            margin: 0 auto;
            padding-bottom: 20px;
            font-size: $phone-font-size;
        }
    }
}

.popOver{
    display: none;
    height: 300px;
    width: 400px;
    position: fixed;
    top: 10%;
    left: 20%;
    z-index: 5000;
    padding: 20px;
    background-color: white;
    color: black;
    overflow: auto;
    img{
        display: block;
        margin: 0 auto;
    }
    .title{
        text-align: center;
    }
}
.close {
    cursor: pointer;
    font-size: 10px;
    border: thin solid white;
    padding: 2px 5px 5px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.25);
}
.show-lightbox { display: block !important; }

@media screen  and (min-width: 768px){
    #portfolio{    
        background-image: url("../images/pad_portfolio_bckgrd.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 640px;
        .portfolioinfo{
            h1{
                padding-top: 10px;
            }
            background-image: none;
            p{
                font-size: $tablet-font-size;
            }
        }
        .projects{
            margin-left: 20px !important;
        }
        .popOver{
            height: 500px;
            width: 500px;
            top: 10%;
            left: 30%;
        }
    }
}

@media screen  and (min-width: 1200px){
    #portfolio{    
        background-image: url("../images/pc_portfolio_bckgrd.png");
        height: 720px;
        .portfolioinfo{
            h1{
                padding-top: 30px;
            }
            p{
                font-size: $desktop-font-size;
            }
        }
        .projects{
            margin-left: 0 !important;
        }
        .popOver{
            height: 500px;
            width: 700px;
            top: 10%;
            left: 30%;
        }
    }
}